<center>
    <div>
    <h1>404</h1>
    <p>Pagina no encontrada</p>
    <img src="/img/imgPages/dinoError.jpg" alt="dinoError" />
    </div>
    <a href="/home"><button class="custom-button">Volver al inicio</button></a>
</center>

