<section class="cart-container">
    <h1>Shopping Cart</h1>
    <div class="cart-items">
        {{#if cart.products.length}}
            <ul>
                {{#each cart.products}}
                    <li>
                        <p>Product ID: {{this.productId}}</p>
                        <p>Quantity: {{this.quantity}}</p>
                        <button class="remove-btn" data-product-id="{{this.productId}}">Eliminar</button>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p class="empty-cart-message">No items in the cart.</p>
        {{/if}}
    </div>
</section>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>