<h1>Chat Servicios de jardineria y consejos</h1>
<section class="chatContainer">
<div>
    <input type="text" id="chatBox">
</div>
<div>
    <p id="messageLogs"></p>
</div>
<img class="imgChat" src="/img/imgPages/jardin.jpg" alt="cultivando flores">
</section>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/src/public/js/socket.js"></script> 
