<h1>Bienvenido a SucuRex</h1>

<ul>
    <li><a href="api/products">Ver productos</a></li>
    <li><a href="api/products/new">Nuevo producto</a></li>
</ul>
<section>
    <h2>Ingresa</h2>
    <div>
        
        <p><a href="/login">Iniciar sesion</a></p>
        <p><a href="/register">Registrarse</a></p>
        
        
    </div>
</section>