<h1>Bienvenido a SucuRex</h1>

<ul>
    <li><a href="api/products">Ver productos</a></li>
    <li><a href="api/products/new">Nuevo producto</a></li>
</ul>
<section>
    <h2>Ingresa</h2>
    <div>
        <form method="POST" action="/setCookie">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="email" placeholder="Email">
            <input type="submit" value="setear cookie">
        </form>
        
        <form method="GET" action="/getCookie">
            <input type="submit" value="Obtener cookie">
        </form>
        <form method="GET" action="/deleteCookie">
            <input type="submit" value="Borrar cookie">
        </form>
    </div>
</section>