{{#if cierreSession}}
<section class="sessionOut">
    <div>
        <h2>Sesión cerrada</h2>
        <h3>¡¡¡Esperamos verte nuevamente por nuestro sitio!!! </h3>
        <h4>No te pierdas nuestras increíbles ofertas semanales...</h4>

    </div>
</section>
{{/if}}
<section class="sessionInit">
    <h1>Inicia sesión</h1>
    <div>
        <form method="POST" action="/api/sessions/login">
            <input type="text" name="email" placeholder="email" />
            <input type="password" name="password" placeholder="password" />
            <input type="submit" value="Iniciar sesión" class="custom-button">
        </form>
    </div>
    <h2><a href="/register">¿No estas registrado? Registrate por unica vez en nuestra plataforma</a></h2>
    <div>
        <h2>O inicia sesion con github</h2>


        <a href="/api/sessions/github"><button class="">Entrar con github</button></a>
        <a href="/logout/github"><button>cerrar sesion</button></a>
    </div>
    <div>
        <img src="/img/imgPages/dinoLogin.jpg" alt="dinoAdios" width="30%" height="45%">
        <h2><a href="/register">¿No estas registrado? Registrate por unica vez</a></h2>
    </div>
</section>
{{#if error}}
{{#if (eq error "Ingrese_todos_los_campos")}}
<h2>Error: Por favor, complete todos los campos</h2>
{{/if}}
{{#if (eq error "Usuario_y/o_contraseña_incorrectas")}}
<h2>Error: Usuario y/o contraseña incorrectos</h2>
{{/if}}
{{#if (eq error "usuario_no_existe")}}
<h2>Error: El usuario no existe</h2>
{{/if}}
{{/if}}