<section class="fndoForm">
<form action="/api/products" method="post" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Titulo del producto">
    <textarea name="description" placeholder="Descripción del producto"></textarea>
    <input type="text" name="code" placeholder="Codigo del producto">
    <input type="text" name="price" placeholder="Precio del producto">
    <input type="text" name="stock" placeholder="Stock del producto">
    <input type="text" name="category" placeholder="Categoria del producto">
    <input type="file" name="image" />
    <input type="submit" value="Crear producto" />
</form>
</section>