/* Estilos para el carrito */

/* Estilo para el contenedor principal */
.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para los elementos del carrito */
.cart-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

/* Estilos para los textos dentro de los elementos del carrito */
.cart-item p {
    margin: 5px 0;
}

/* Estilos para el mensaje de carrito vacío */
.empty-cart-message {
    margin-top: 20px;
    font-style: italic;
    color: #999;
}

/* Estilos para los botones */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.button:hover {
    background-color: #45a049;
}
